services:
  # Наш новый сервис - База Данных
  db:
    image: postgres:15 # Берем готовый официальный образ
    restart: always # Если упадет - поднимется сам
    env_file:
      - .env # Теперь база точно знает, где искать эти переменные
    environment:
      POSTGRES_USER: ${POSTGRES_USER} # Имя «админа» базы
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} # Пароль
      POSTGRES_DB: ${POSTGRES_DB} # Название нашей базы данных
    ports:
      - "5432:5432" # Стандартный порт Postgres

    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  catalog-service:
    image: topv7/catalog-service:latest
    env_file:
      - .env # Теперь сервис точно знает, где искать эти переменные
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PASSWORD: ${DB_PASSWORD} # Теперь он точно возьмет это из .env
    depends_on:
      - db # Говорим: "Не запускай каталог, пока база не готова"

  order-service:
    image: topv7/order-service:latest
    env_file:
      - .env # Теперь сервис точно знает, где искать эти переменные
    ports:
      - "5001:5001"
    environment:
      DB_HOST: db
      DB_PASSWORD: ${DB_PASSWORD} # Теперь он точно возьмет это из .env
    depends_on:
      - catalog-service

  frontend:
    image: topv7/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - catalog-service

volumes:
  postgres_data:
