name: Build and Deploy to Server

on:
  push:
    branches:
      - main  # Срабатывает только при пуше в главную ветку

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/frontend:latest

      - name: Build and Push Catalog Service
        uses: docker/build-push-action@v4
        with:
          context: ./catalog-service
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/catalog-service:latest

      - name: Build and Push Order Service
        uses: docker/build-push-action@v4
        with:
          context: ./order-service
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/order-service:latest

  deploy:
    needs: build-and-push # Важно: деплой начнется только после успешной сборки
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "docker-compose.yml"
          target: "/root/microservices-shop"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/microservices-shop
            docker compose pull
            docker compose up -d
            docker image prune -f # Удаляет старые версии образов, чтобы не забивать диск