name: Python application test # Имя этой задачи в интерфейсе GitHub

on: [push] # Робот будет просыпаться каждый раз, когда ты делаешь push (отправляешь код в облако)

jobs:
  build:
    runs-on: ubuntu-latest # Просим у GitHub виртуальный компьютер на базе Linux

    steps:
      - uses: actions/checkout@v3 # Копируем наш код из репозитория на этот виртуальный ПК

      - name: Set up Python # Устанавливаем Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies # Устанавливаем наш Flask через тот самый файл со списком
        run: |
          python -m pip install --upgrade pip
          pip install -r catalog-service/requirements.txt

      - name: Run server and test
        run: |
          cd catalog-service
          python server.py & 
          sleep 5
          # 1. Сохраняем ответ сервера в переменную
          RESPONSE=$(curl -s http://127.0.0.1:5000/products)
          echo "Полученный ответ от сервера: $RESPONSE"

          # 2. Проверяем, есть ли в ответе слово "Microservice"
          if [[ "$RESPONSE" == *"Microservice"* ]]; then
            echo "Тест прошел: Товар найден в списке!"
          else
            echo "ОШИБКА: Товар не найден или список пуст!"
            exit 1  # Эта команда покрасит билд в красный цвет
          fi
