name: Dockerized Integration Test with DB

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start services
        # Запускаем все три контейнера (включая базу)
        run: docker compose up -d --build

      - name: Wait for Database
        # Это новый шаг! Робот будет ждать, пока база скажет "Я готова"
        run: |
          echo "Ожидаем готовности базы данных..."
          until docker exec $(docker ps -qf "name=db") pg_isready -U user -d shop_db; do
            sleep 2
          done
          echo "База данных запущена!"
          sleep 5

      - name: Check Catalog API
        # Проверяем, отдаёт ли каталог список товаров из базы
        run: |
          curl -f http://127.0.0.1:5000/products || (docker compose logs catalog-service && exit 1)

      - name: Integration Test
        # Проверяем связь: Order стучится в Catalog, а тот лезет в базу
        run: |
          RESPONSE=$(curl -s http://127.0.0.1:5001/check_item/Microservice)
          echo "Ответ системы: $RESPONSE"
          if [[ "$RESPONSE" == *"found"* ]]; then
            echo "Ура! Связь с базой через два сервиса работает!"
          else
            exit 1
          fi

      - name: Stop services
        if: always()
        run: docker compose down