name: Dockerized Integration Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and Start Containers
        run: |
          # 1. Запускаем Docker Compose. Он сам соберет образы и расставит файлы.
          docker compose up -d --build

      - name: Wait for services
        run: |
          # 2. Ждем немного, пока Flask внутри контейнеров проснется
          sleep 10

      - name: Run Integration Tests
        run: |
          # 3. Проверяем Catalog напрямую (через порт 5000)
          echo "Проверка Catalog Service..."
          curl -f http://127.0.0.1:5000/products || exit 1

          # 4. Проверяем Order напрямую (через порт 5001)
          echo "Проверка Order Service..."
          curl -f http://127.0.0.1:5001/orders || exit 1

          # 5. ГЛАВНЫЙ ТЕСТ: связь между сервисами
          echo "Проверка связи: Order -> Catalog..."
          RESPONSE=$(curl -s http://127.0.0.1:5001/check_item/Microservice)
          echo "Ответ: $RESPONSE"
          
          if [[ "$RESPONSE" == *"найден"* ]]; then
            echo "SUCCESS: Сервисы общаются в Docker!"
          else
            echo "ERROR: Связь не установлена!"
            exit 1
          fi

      - name: Stop and Cleanup
        if: always()
        run: docker compose down