name: Python application test # Имя этой задачи в интерфейсе GitHub

on: [push] # Робот будет просыпаться каждый раз, когда ты делаешь push (отправляешь код в облако)

jobs:
  build:
    runs-on: ubuntu-latest # Просим у GitHub виртуальный компьютер на базе Linux

    steps:
      - uses: actions/checkout@v3 # Копируем наш код из репозитория на этот виртуальный ПК

      - name: Set up Python # Устанавливаем Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies # Устанавливаем наш Flask через тот самый файл со списком
        run: |
          python -m pip install --upgrade pip
          pip install -r catalog-service/requirements.txt
          pip install -r order-service/requirements.txt

      - name: Run servers and test
        run: |
          # 1. Запускаем оба сервера из корня
          python catalog-service/server.py & 
          python order-service/order_server.py & 

          sleep 5

          # 2. ПРОВЕРКА КАТАЛОГА
          echo "Проверка Catalog Service..."
          RESPONSE_CAT=$(curl -s http://127.0.0.1:5000/products)
          echo "Ответ каталога: $RESPONSE_CAT"

          if [[ "$RESPONSE_CAT" == *"Microservice"* ]]; then
            echo "Catalog Test: OK!"
          else
            echo "ОШИБКА: Товар 'Microservice' не найден в каталоге!"
            exit 1
          fi

          # 3. ПРОВЕРКА ЗАКАЗОВ
          echo "Проверка Order Service..."
          RESPONSE_ORD=$(curl -s http://127.0.0.1:5001/orders)
          echo "Ответ заказов: $RESPONSE_ORD"

          if [[ "$RESPONSE_ORD" == *"order_id"* ]]; then
            echo "Order Test: OK!"
          else
            echo "ОШИБКА: В сервисе заказов нет данных или формат неверный!"
            exit 1
          fi
