name: Dockerized Integration Test with DB

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start services
        # Запускаем все три контейнера (включая базу)
        run: docker compose up -d --build

      - name: Wait for Database
        # Это новый шаг! Робот будет ждать, пока база скажет "Я готова"
        run: |
          echo "Ожидаем готовности базы данных..."
          until docker exec $(docker ps -qf "name=db") pg_isready -U user -d shop_db; do
            sleep 2
          done
          echo "База данных запущена!"
          sleep 5

      - name: Check Catalog API
        # Проверяем, отдаёт ли каталог список товаров из базы
        run: |
          curl -f http://127.0.0.1:5000/products || (docker compose logs catalog-service && exit 1)

      - name: Wait for services to be ready
        run: sleep 10

      - name: Тестируем создание заказа (Order Service)
        run: |
          RESPONSE=$(curl -s -X POST -H "Content-Type: application/json" \
            -d '{"product_name": "Microservice"}' \
            http://127.0.0.1:5001/orders) || (docker compose logs order-service && exit 1)
          
          echo "Ответ системы: $RESPONSE"
          
          if [[ $RESPONSE == *"success"* ]]; then
            echo "Заказ успешно создан в базе!"
          else
            echo "Ошибка: Заказ не создался! Логи сервиса:"
            docker compose logs order-service
            exit 1
          fi

      - name: Stop services
        if: always()
        run: docker compose down